{% extends 'baseTemplate.html' %}
{% block page_title %}Add a Recipe{% endblock %}
{% block content %}
    <h4>All Recipes:</h4>
    <ul>
        {% for recipe in recipes %}
            <li>Recipe Name: {{ recipe.name }}</li>
        {% endfor %}
    </ul>

    <h4>Add New Recipe</h4>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="add_recipe">Submit</button>
    </form>

    <h4>Add Recipe Ingredients</h4>
    <form method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        {% for f in formset %}
            {{ f.as_p }}
        {% endfor %}
        <button type="submit" name="add_recipe_ingredient">Submit</button>
    </form>

    <h4>Add New Ingredient</h4>
    <form method="post">
        {% csrf_token %}
        {{ ingredient_form.as_p }}
        <button type="submit" name="add_ingredient">Submit</button>
    </form>
{% endblock %}